@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/_Font/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto'), url(./assets/_Font/Roboto-Light.ttf) format('truetype');
}

.App
{
  background: #2E2E36 url('./assets/_images/header-bg.jpg') no-repeat;
  background-size: 100%;
  background-attachment:fixed;
  min-height: 100vh;
  max-height: auto;    
  width: 100vw;
  font-family: Roboto, Arial, serif;
  background-position: 0px -150px;
  padding-top: 200px;
  width: 100%;
}

ul
{
  margin: 0px;
  padding:0px;
}